
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Menu</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='Styles.css') }}">
        <script defer src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
        <script defer src="{{ url_for('static', filename='js/MainMenu.js') }}"></script>
    </head>
    <body>
        <div class="screen-wrapper">
            <div class="app">
                <div class="top-row">
                    <div class="top-bar">
                        <a href="/SignUp">
                            <button class="box button small-button">Sign Up</button>
                        </a>
                        <a href="/Login">
                            <button class="box button small-button">Login</button>
                        </a>
                    </div>
                </div>

                <div class="main-content">
                    <a href="/">
                    <img class = "logo" src="{{ url_for('static', filename='textures/logo.png') }}" alt="LOGO">
                    </a>
                    <a href="/GameLobby">
                    <button class="box button menu-button">Create Lobby</button>
                    </a>
                    <a href="/FriendsList">
                    <button class="box button menu-button">Friends List</button>
                    </a>
                    <a href="/GameHistory">
                    <button class="box button menu-button">Game History</button>
                    </a>
                </div>

                <div class="bottom-bar">
                    <a href="/CustomRuleset">
                    <button class="box button small-button">Custom Rulesets</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
