<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Styles.css') }}">
    </head>
    <body>
        <div class="screen-wrapper">
            <div class="app">
                <div class="main-content">
                    <a href="/">
                    <img class = "logo" src="{{ url_for('static', filename='textures/logo.png') }}" alt="LOGO">
                    </a>
                    <input class="box field" name="username" type="text" placeholder="Username"> 
                    <input class="box field" name="email" type="text" placeholder="Email">
                    <input class="box field" name="password" type="text" placeholder="Password">
                    <button class="box button signup-button">Sign Up</button>
                </div>
            </div>
        </div>
    </body>

