
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Menu</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Styles.css') }}">
    </head>
    <body>
            <div class="top-bar">
                <a href="/SignUp">
                <button class="button small-button">Sign Up</button>
                </a>
                <button class="button small-button">Login</button>
            </div>

            <div class="main-content">
                <a href="/">
                <img class = "logo" src="" alt="">
                </a>
                <button class="button menu-button">Create Lobby</button>
                <button class="button menu-button">Friends List</button>
            </div>

            <div class="bottom-bar">
            <button class="button small-button">Custom Rulesets</button>
            </div>
        </div>
    </body>
</html>
