<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Styles.css') }}">
    </head>
    <body>
        <div class="main-content">
            <img class = "sign-up-logo" src="" alt="">
            <input class="button field" type="text" placeholder="Username"> 
            <input class="button field" type="text" placeholder="Email">
            <input class="button field" type="text" placeholder="Password">
        </div>
    </body>

